---
layout: layout.liquid
title: Home
---

<h2>Yet Another <strong>Space Blog</strong></h2>
<p>Welcome to my blog!</p>
<div>
	<p><a href="/Stars/"" title="A post about stars">Click Here</a> for a post about stars</p>
</div>
<div>
	</p><a href="/Earths/"" title="A post about stars">Click Here</a> for a post about earth-like planets</p>
</div>
<img alt="Solar System" src="/images/system.jpg">