---
layout: layout.liquid
title: 11ty Boilerplate
---

<h2>Yet Another <strong>Space Blog</strong></h2>
<div>
	<a href="/Stars/"" title="A post about stars">Click Here</a>
</div>
<div>
	<a href="/Earths/"" title="A post about stars">Click Here</a>
</div>
<img alt="torc" src="/images/torc.png">